@use '../../../styles/_sizes';
@use '../../../styles/_colors';

.collapsed-app {
  @include sizes.square(8);
  align-items: center;
  background-color: colors.$block-background;
  border: 2px outset colors.$block-border;
  display: flex;
  justify-content: center;
}
