$brand-primary: #343672;

/* block: window, menu, etc. */
$block-accent: #a53380;
$block-background-light: #eee;
$block-background: #ddd;
$block-border-dark: #bbb;
$block-border: #fff;
$block-text: #333;
