@font-face {
  font-family: 'terminal-grotesque';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/terminal/terminal-grotesque.ttf') format('truetype');
}

body {
  height: 100vh;
  margin: 0;
  user-select: none; /* enable this only when required */
  width: 100vw;
}
