@font-face {
  font-weight: normal;
  font-family: "terminal-grotesque";
  font-style: normal;
  src: url("/assets/fonts/terminal/terminal-grotesque.ttf") format("truetype");
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "terminal-grotesque", sans-serif;
  user-select: none; /* enable this only when required */
}
