@font-face {
  font-family: "terminal-grotesque";
  src: url("/assets/fonts/terminal/terminal-grotesque.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;

  font-family: "terminal-grotesque";
}
