@use '../../../styles/_colors';
@use '../../../styles/_sizes';
@use '../../../styles/_spacing';
@use '../../../styles/_typography';

.panel {
  @include sizes.width(70);
  background-color: colors.$block-background;
  height: 100%;
}

.header {
  @include typography.block-title;
  @include spacing.padding(2, 4);
  @include spacing.margin-bottom(2);
  background-color: colors.$block-background-light;
}

.search {
  @include spacing.margin(5, 2);
  @include spacing.padding(2, 2);
  @include sizes.border-radius-1;
  @include typography.block-contents-small;
  background-color: colors.$block-background-light;
  color: colors.$block-text-light;
  // TODO: flex mixin?
  display: flex;
  justify-content: space-between;
}

.search-icon {
  @include sizes.square(4);
}

.apps {
  @include spacing.margin(5, 4);
}

.app-group {
  @include typography.block-contents;
}

.favorites {
  @include spacing.margin-bottom(8);
}
