@use '../../styles/_colors';
@use '../../styles/_typography';
@use '../../styles/_sizes';
@use '../../styles/_spacing';

.window {
  @include sizes.border-radius-1;
  background-color: colors.$block-background;
  border: 2px outset colors.$block-border;
}

.title {
  @include spacing.padding(1, 0);
  align-items: center;
  background-color: colors.$block-background-light;
  border-bottom: 2px solid colors.$block-background-light;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title-text {
  @include typography.block-title;
  @include spacing.margin-left(1);
}

.contents {
  @include spacing.padding(1, 1);
  @include typography.block-contents;
}

.close {
  @include spacing.margin-right(1);
  @include sizes.square(6);
  @include sizes.border-radius-1;
  background-color: colors.$block-accent;
}

.close-icon {
  filter: invert(1);
}
