@use "../../styles/colors.scss";

.window {
  background-color: colors.$block-background;
  border: 2px outset white;
  border-radius: 3px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 0;
  background-color: colors.$block-background-light;
  border-bottom: 2px solid #bbb;
}

.contents {
  padding: 5px;
  font-size: 20px;
}

.text {
  margin-left: 5px;
  color: #333;
  font-size: 24px;
}

.close {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  color: white;

  /* ugly hack */
  line-height: 18px;
  text-align: center;
  background-color: #a53380;
  border-radius: 3px;
}
