.window {
  position: relative;
  top: calc(50% - 240px);
  left: calc(50% - 320px);
  width: 640px;
  height: 480px;
  background-color: rgb(221, 221, 221);
  border: 2px outset white;
  border-radius: 3px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 0;
  background-color: #eee;
  border-bottom: 2px solid #bbb;
}

.text {
  margin-left: 5px;
  color: #333;
  font-size: 24px;
}

.close {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  color: white;

  /* ugly hack */
  line-height: 18px;
  text-align: center;
  background-color: #a53380;
  border-radius: 3px;
}
