@use '../../styles/_colors';
@use '../../styles/_sizes';
@use '../../styles/_spacing';

.desktop {
  background-color: colors.$brand-primary;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 100%;
}

.windows {
  @include spacing.padding(6, 8);
  display: grid;
  grid-gap: sizes.unit(6);
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  width: 100%;
}

.panel {
  @include sizes.width(70);
  background-color: colors.$block-background;
  height: 100%;
}
